.ex-1-square:hover {
    background-color: red;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square:hover {
    filter: opacity(0);
}

.ex-5-square:hover {
    margin: 0;
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    margin: 30px;
    width: 40px;
    height: 40px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: sepia(0.8);
    filter: grayscale(0.7);
}

.ex-8-img:hover {
    filter: sepia(0.7);
    filter: grayscale(0.5);
    border-radius: 20px;
}

.ex-9-img:hover {
    filter: grayscale(0.5);
    border-radius: 25px;
    transform: scale(150%);
}